.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  @include font($fw: 700, $fs: 14px, $lh: calc(16px / 14px), $ls: 0.03em);
  text-transform: uppercase;
  color: #ffffff;
}

.footer-flex {
  display: flex;
}
