.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 9;
  margin-right: 93px;
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
}
.header-ul {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-ul li:not(:last-child) {
  margin-right: 50px;
}
.header-inf {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.header-inf li:not(:last-child) {
  margin-right: 50px;
}

.nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.nav.current {
  color: var(--accent-color);
  position: relative;
}

.nav.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  top: 44px;

  background: var(--accent-color);
  border-radius: 2px;
}

.info {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.info:hover svg,
.info:focus svg {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.info:hover,
.info:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.header-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.border {
  border: 1px solid #ececec;
  padding-top: 94px;
  padding-bottom: 94px;
}
